<div class="container">
  <div class="row d-felx justify-content-center">
    <div class="col-md-12" style="background-color: #EBF5F6;">
      <div class="row d-felx justify-content-around">
        <div class="col-md-6">
          <button routerLink="/dashbord/mes_projets" class="btn btn-warning my-5"><i class="bi bi-caret-left-square-fill"></i>
            Retour</button>
          <h1 class="fs-2 fw-bolder mx-3">{{data.titre}}</h1>
          <button class="btn btn-outline-danger my-5"><i class="bi bi-x-octagon"></i>
            Ne plus suivre</button>
        </div>
        <div class="col-md-5">
          <div class="card my-5 mx-3">
            <div class="card-body mr-3">
              <h3 class="card-title">PROGRESSION</h3>

              <h2 class="fw-bolder">
                <span class="mx-2"><i class="fa fa-spinner" aria-hidden="true" style="color: #2E7E32;"></i>
                </span>
                {{resultProgrssion}}%
              </h2>
              <hr>
              <h3 class="card-title">OBJECTIFS PÉDAGOGIQUES</h3>
              <h2 class="fw-bolder">
                <span class="mx-2"><i class="bi bi-lightbulb" style="color: #2E7E32;"></i>
                </span>
                1/{{data.competence_acquis.length}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="background-color: aliceblue;">
      <mat-tab-group animationDuration="1500ms">
        <mat-tab label="Aperçu">
          <div class="m-5">
            <h2 class="fs-2 fw-bolder">
              <span class="mx-2"><i class="bi bi-arrows-move"></i></span>
              Objectifs pédagogiques</h2>
            <hr/>
          </div>
          <div class="row d-felx justify-content-around">
            <div class="col-md-8 d-grid gap-3">
              <p class="fs-5 d-grid">{{data.description}}</p>
            </div>
            <div class="col-md-3">
              <img src="https://openclassrooms.com/modules/learning-content/latest/images/learningOutcomes-5cbadb8c7bf34b14a61e.svg" alt="">
            </div>
          </div>
          <div class="m-5">
            <h2 class="fs-2 fw-bolder">
              <span class="mx-2"><i class="bi bi-sign-stop"></i></span>
              Prérequis</h2>
            <hr/>
          </div>
          <div class="row d-felx justify-content-start">
            <div class="col-md-5 mx-3">
              <img src="https://openclassrooms.com/modules/learning-content/latest/images/requirements-136442472f42313d52d9.svg" alt="">
            </div>
            <div class="col-md-5 d-grid gap-3">
              <ul class="list-group list-group-flush" *ngFor="let item of data.competence_requis">
                <li class="list-group list-group-flush fs-5 fw-bolder">
                 <span><i class="bi bi-lamp"></i>
                 {{item}}</span>
                </li>
              </ul>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Compétences">
          <div class="row d-flex justify-content-center">
            <div class="col-md-10 m-5">
              <table class="table bg-light text-center">
                <thead>
                  <tr>
                    <th scope="col">Ordre</th>
                    <th scope="col">Compétence</th>
                    <th scope="col">Progression</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody  *ngFor="let comp of data.resultatsEtudiants.competencesAcquises">
                  <tr>
                    <th scope="row">{{comp.index}}</th>
                    <td>{{comp.nom}}</td>
                    <td>
                      <input type="range"  [value]="comp.progression" class="form-control-range" (change)="onChangeProgression($event, comp._id)" value="10" min="0" max="100">
                    </td>
                    <td>{{comp.etat}}</td>
                    <td disabled>
                      <button class="btn badge bg-danger mx-1" (click)="changeStatus(comp._id,'Non acquise')" *ngIf="comp.etat != 'Non acquise'">Non acquise</button>
                      <button class="btn badge bg-primary mx-1" (click)="changeStatus(comp._id,'En cours')" *ngIf="comp.etat != 'En cours d\'acquisition'">En cours</button>
                      <button class="btn badge bg-success mx-1" (click)="changeStatus(comp._id,'Acquise')" *ngIf="comp.etat != 'Acquise'">Acquise</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center">
                <button (click)="terminerProjet()" class="btn btn-success mx-1" *ngIf="allCompetencesAcquises">Terminer le projet</button>
              </div>

            </div>
          </div>
        </mat-tab>
        <mat-tab label="Contributeur">
          <div class="row justify-content-around m-4">
            <h1 class="fs-3 fw-bolder">Professeur : </h1>
            <hr/>
            <div class="col-md-2">
              <img src="https://user.oc-static.com/users/avatars/1625873440387_peb-oc.jpeg" class="rounded-pill" alt="">
            </div>
            <div class="col-md-8">
              <h3 class="fw-bolder">{{data.enseignant[0].nom +" "+ data.enseignant[0].prenom |uppercase }}</h3>
              <p> Enseignant à l'université de jules vernes Picardie
              </p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>
