<div class="container">
  <div >
    <!-- Dashbord pour administrateur  -->
    <div class="row d-felx justify-content-center align-items-center p-4" *ngIf="user.role == 'Admin'">
      <div  class="col-md-4">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-6">
                <span ><i class="bi bi-book" style="font-size: 5rem; color: #00B5B8; "></i>
                </span>
              </div>
              <div class="col-md-4">
                <h3 class="fs-3 fw-bolder" style="color: #00B5B8;">{{dataAdmin.nbEtudiant}}</h3>
                <p class="fw-bolder fs-5">Etudiants</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light border border-end">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-6">
                <h3 class="fs-3 fw-bolder" style="color: #eaa00c;">{{dataAdmin.nbEnseignant}}</h3>
                <p class="fw-bolder fs-5">Enseignants</p>
              </div>
              <div class="col-md-4">
                <span ><i class="bi bi-person-bounding-box" style="font-size: 5rem; color: #eaa00c; "></i>
                </span>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-a" style="font-size: 5rem; color: #0995c3; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #0995c3;">{{dataAdmin.nbAdmin}}</h3>
                <p class="fw-bolder fs-5">Administrateurs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Dashbord pour Etudiant -->
    <div class="row d-felx justify-content-center align-items-center p-4" *ngIf="user.role == 'Etudiant'">
      <div  class="col-md-6 my-2">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <span ><i class="bi bi-book" style="font-size: 5rem; color: #00B5B8; "></i>
                </span>
              </div>
              <div class="col-md-7 mt-4 mx-2">
                <p class="fw-bolder fs-5">Total des projets</p>
              </div>
              <div class="col-md-2  my-3 mx-2">
                <h3 class="fs-3 fw-bolder" style="color: #00B5B8;">{{dataEtudiant.countOfProjects}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-2">
        <div class="card bg-light border border-end">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <span >
                  <i class="fas fa-graduation-cap" style="font-size: 5rem; color: #FFA87D; "></i>
                </span>
              </div>
              <div class="col-md-6 mt-4 mx-2">
                <p class="fw-bolder fs-5 mx-3">Progression globale</p>
              </div>
              <div class="col-md-3  my-3 mx-2">
                <h4 class="fs-3 fw-bolder" style="color: #FFA87D;">{{dataEtudiant.progressionGlobale}} %</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-rocket" style="font-size: 5rem; color: #0ba84d; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #0ba84d;">{{dataEtudiant.countProjetTermine}}</h3>
                <p class="fw-bolder fs-6">Projet terminés</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-spinner" style="font-size: 5rem; color: #0995c3; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #0995c3;">{{dataEtudiant.countProjetEncours}}</h3>
                <p class="fw-bolder fs-6">Projet en cours</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-face-frown" style="font-size: 5rem; color: #eb0537; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #eb0537;">{{dataEtudiant.countProjetAbondonne}}</h3>
                <p class="fw-bolder fs-6">Projet abondonné</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-lock-open" style="font-size: 5rem; color: #0ba84d; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #0ba84d;">{{dataEtudiant.countCompetence}}</h3>
                <p class="fw-bolder fs-5">Compétence acquises</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Dashbord pour enseignant -->
    <div class="row d-felx justify-content-center align-items-center p-4" *ngIf="user.role == 'Enseignant'">
      <div  class="col-md-6 my-2">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <span ><i class="bi bi-book" style="font-size: 5rem; color: #00B5B8; "></i>
                </span>
              </div>
              <div class="col-md-7 mt-4 mx-2">
                <p class="fw-bolder fs-5">Total des projets</p>
              </div>
              <div class="col-md-2  my-3 mx-2">
                <h3 class="fs-3 fw-bolder" style="color: #00B5B8;">{{dataEnseignant.projetCount}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-2">
        <div class="card bg-light border border-end">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <span >
                  <i class="fas fa-graduation-cap" style="font-size: 5rem; color: #FFA87D; "></i>
                </span>
              </div>
              <div class="col-md-7 mt-4 mx-2">
                <p class="fw-bolder fs-5 mx-3">Total des étudiants</p>
              </div>
              <div class="col-md-2  my-3 mx-2">
                <h3 class="fs-3 fw-bolder" style="color: #FFA87D;">{{dataEnseignant.countEtudiants[0].totalEtudiants}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-rocket" style="font-size: 5rem; color: #0ba84d; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #0ba84d;">{{dataEnseignant.countEtudiantsTermines}}</h3>
                <p class="fw-bolder fs-6">Étudiants ayant terminé</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-spinner" style="font-size: 5rem; color: #0995c3; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #0995c3;">{{dataEnseignant.countEtudiantsEncours}}</h3>
                <p class="fw-bolder fs-6">Étudiants en cours</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-face-frown" style="font-size: 5rem; color: #eb0537; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #eb0537;">{{dataEnseignant.countEtudiantsAbondon}}</h3>
                <p class="fw-bolder fs-6">Étudiants ayant abandonné</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 my-3">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-lock-open" style="font-size: 5rem; color: #0ba84d; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #0ba84d;">{{dataEnseignant.projetActif}}</h3>
                <p class="fw-bolder fs-5">Projets en cours</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card bg-light border border-rounded">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-4">
                <span >
                  <i class="fas fa-lock" style="font-size: 5rem; color: #FFC433; "></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="fs-3 fw-bolder" style="color: #FFC433;">{{dataEnseignant.projetArchive}}</h3>
                <p class="fw-bolder fs-5">Projets Archivés</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
