<div class="row justify-content-center p-3">
  <div class="col-md-10">

    <div class="card">
      <div class="card-body">
        <h2 class="card-title fw-bolder text-center">Ajouter un étudiant</h2>
        <form [formGroup]="addEtudiantForm" (ngSubmit)="onSubmit()">
          <div class="row justify-content-around mt-4">
            <div class="col-md-4">
              <div class="form-group my-2">
                <label for="nom" class="fw-bold mb-2">Nom : </label>
                <input formControlName="nom"  name= "nom" type="text" class="form-control" id="nom">
                <div *ngIf="addEtudiantForm.controls['nom'].invalid && (addEtudiantForm.controls['nom'].dirty || addEtudiantForm.controls['nom'].touched)" class="mt-2">
                  <div *ngIf="addEtudiantForm.controls['nom'].errors?.['required']">
                   <span class="text-danger">Ce champs est obligatoire</span>
                  </div>
                </div>
              </div>
              <div class="form-group my-2">
                <label for="prenom" class="fw-bold mb-2">Prénom : </label>
                <input formControlName="prenom"  name= "prenom" type="text" class="form-control" id="prenom">
                <div *ngIf="addEtudiantForm.controls['prenom'].invalid && (addEtudiantForm.controls['prenom'].dirty || addEtudiantForm.controls['prenom'].touched)" class="mt-2">
                  <div *ngIf="addEtudiantForm.controls['prenom'].errors?.['required']">
                   <span class="text-danger">Ce champs est obligatoire</span>
                  </div>
                </div>
              </div>
              <div class="form-group my-2">
                <label for="date" class="fw-bold mb-2">Date de naissance : </label>
                <input formControlName="date"  name= "date" type="date" class="form-control" id="date">
                <div *ngIf="addEtudiantForm.controls['date'].invalid && (addEtudiantForm.controls['date'].dirty || addEtudiantForm.controls['date'].touched)" class="mt-2">
                  <div *ngIf="addEtudiantForm.controls['date'].errors?.['required']">
                   <span class="text-danger">Ce champs est obligatoire</span>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="form-group my-2">
                <label for="email" class="fw-bold mb-2">E-mail : </label>
                <input formControlName="email"  name= "email" type="text" class="form-control" id="email" aria-describedby="emailHelp">
                <div *ngIf="addEtudiantForm.controls['email'].invalid && (addEtudiantForm.controls['email'].dirty || addEtudiantForm.controls['email'].touched)" class="mt-2">
                  <div *ngIf="addEtudiantForm.controls['email'].errors?.['required']">
                   <span class="text-danger">Ce champs est obligatoire</span>
                  </div>
                  <div *ngIf="addEtudiantForm.controls['email'].errors?.['email']">
                    <span class="text-danger">Ce n'est pas un email</span>
                   </div>
                </div>
              </div>
              <div class="form-group my-2">
                <label for="sexe" class="fw-bold mb-2">Sexe : </label>
                <select formControlName="sexe" name="sexe" class="form-control" id="sexe">
                  <option value="">Choisissez un sexe</option>
                  <option value="homme">Homme</option>
                  <option value="femme">Femme</option>
                </select>
                <div *ngIf="addEtudiantForm.controls['sexe'].invalid && (addEtudiantForm.controls['sexe'].dirty || addEtudiantForm.controls['sexe'].touched)" class="mt-2">
                  <div *ngIf="addEtudiantForm.controls['sexe'].errors?.['required']">
                   <span class="text-danger">Ce champs est obligatoire</span>
                  </div>
                </div>
              </div>
              <div class="form-group my-2">
                <label for="password" class="fw-bold mb-2">Mot de passe : </label>
                <input formControlName="password"  name= "password" type="password" class="form-control" id="password">
                <small class="text-muted">Générer un mot de passe</small>
                <div *ngIf="addEtudiantForm.controls['password'].invalid && (addEtudiantForm.controls['password'].dirty || addEtudiantForm.controls['password'].touched)" class="mt-2">
                  <div *ngIf="addEtudiantForm.controls['password'].errors?.['required']">
                   <span class="text-danger">Ce champs est obligatoire</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="text-center">
          <button mat-raised-button color="success" [disabled]="!addEtudiantForm.valid" type="submit" class="btn bg-success mt-3 text-center btn">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_add"></mat-icon>
            <span>
              Ajouter
            </span>
          </button>
       </div>

        </form>
      </div>
    </div>
  </div>
</div>
